<footer><h2 class="self-promotion"><a href="https://bit.ly/ysprojects">Portfolio</a>
<a href="https://linkedin.com/in/ysaoudi">LinkedIn</a>
<a href="https://github.com/ysaoudi">Github</a>
</h2><p>Created by {{name}}</p></footer>
