<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class ="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.png">
    </div>
    <h2 class = "center-text">Younes Saoudi</h2>
    <p class="description">Penultimate year Software Engineering student at ENSEEIHT, in Toulouse, France. 
I believe to be one of those fortunate enough to be able to pursue my passion, which is Software Engineering. I have developed a sincere love for programming during my years in Preparatory Classes for Engineering Schools which is why I chose to pursue this career.</p>
    <p class="description">This website fetches and renders data from Mapbox and WeatherStack using Node.js and Express.js</p>
    {{>footer}}

</body>

</html>